<footer class="mt-32">
  <svg viewBox="0 0 1440 128">
    <path
      d="M448 0C228.764 0 54.5 30.7284 0 44V128H1440V1.88947e-05C1412 7.64564 1257.54 43 993 43C728.461 43 667.236 0 448 0Z"
      fill="#1A2935"
    ></path>
  </svg>
  <div class="flex justify-between bg-indigo -mt-1">
    <div
      id="ppfooterlogo"
      class=""
    >
      <img
        src="./../../../assets/ppfooterlogo.png"
        alt="Planning Poker Agile Logo"
        height="220px"
        width="220px"
        class="ml-5"
      />
    </div>
    <div
      id="column-container"
      class="flex"
    >
      <div
        id="column1"
        class="px-10 pb-10"
      >
        <h3 class="text-white text-2xl font-bold py-5">Product</h3>
        <ul class="text-slate text-lg">
          <li class="pb-1"><a href="#">Start new game</a></li>
          <li class="pb-2"><a href="#">FAQs</a></li>
          <li class="pb-2"><a href="#">Pricing</a></li>
          <li><a href="#">Terms</a></li>
        </ul>
      </div>
      <div
        id="column2"
        class="px-10 pb-5"
      >
        <h3 class="text-white text-2xl font-bold py-5">Connect</h3>
        <ul class="text-slate text-lg">
          <li class="pb-2"><a href="#">Contact us</a></li>
          <li class="pb-2"><a href="#">LinkedIn</a></li>
          <li><a href="#">What is planning poker?</a></li>
        </ul>
      </div>
      <div
        id="column3"
        class="px-10 pb-5 mr-5"
      >
        <h3 class="text-white text-2xl font-bold py-5">Legal</h3>
        <ul class="text-slate text-lg">
          <li class="pb-2"><a href="#">Security</a></li>
          <li class="pb-2"><a href="#">GDPR Compliant</a></li>
          <li class="pb-2"><a href="#">Legal notice</a></li>
          <li class="pb-2"><a href="#">Cookie policy</a></li>
          <li class="pb-2"><a href="#">Privacy policy</a></li>
          <li class="pb-2"><a href="#">Cookies settings</a></li>
          <li><a href="#">Cancellation form</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex justify-center bg-indigo">
    <div class="text-slate text-lg p-10 mb-10">We Agile You ®</div>
  </div>
</footer>